.card-image {
  position: relative;
}

.discount-restaurant {
  bottom: 6rem;
  font-size: 1rem;
}

.discount-restaurant-name {
  bottom: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.add-menu-item-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: 0.8;
  padding: 1rem;
  border-radius: 2rem 0rem 0rem 0rem;
}
