.personalized-and-instant-card {
  background: linear-gradient(180deg, #eeeeee 0%, #e0e1dc 100%);
  margin-left: 2rem;
  margin-right: 2rem;
}

.personalized-and-instant-card-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.text-after-logo {
  font-size: 30px;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 0;
}

.logo-text-and-card {
  display: flex;
  flex-direction: column;
  left: 0;
}

.personalized-and-instant-card-text {
  display: flex;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  background-color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10rem;
  margin-bottom: 1rem;
}

.personalised {
  color: #fc8a06;
  text-decoration: underline;
  padding-top: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
}

.faster-ordering {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  padding-bottom: 0;
}

@media (max-width: 400px) {
  .personalized-and-instant-card {
    background: linear-gradient(180deg, #eeeeee 0%, #e0e1dc 100%);
    margin-top: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .personalized-and-instant-card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo-and-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-after-logo {
    font-size: 30px;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  .personalized-and-instant-card-text {
    display: flex;
    font-weight: 500;
    font-size: 2rem;
  }

  .personalised {
    color: #fc8a06;
    text-decoration: underline;
    padding-top: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
  }

  .faster-ordering {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  .personalized-and-instant-card-image {
    margin-top: 2rem;
    width: 20rem;
  }
}
