@media (min-width: 401px) {
  .information-card {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
    background-color: #fbfbfb;
    padding-top: 2rem;
    margin-bottom: 3rem;
    height: 25rem;
    font-size: 1rem;
  }

  .day {
    margin-right: 1rem;
    font-weight: 700;
  }

  .contact-info-header {
    font-weight: 700;
  }

  .delivery-info {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }

  .contact-info {
    padding: 3rem;
  }

  .contact-info-para {
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 20rem;
  }

  .operational-info {
    background-color: #03081f;
    color: white;
    padding: 3rem;
    padding-bottom: 2rem;
  }

  .operational-info-timing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .delivery-info-timing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-info-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .day-and-timing {
    display: flex;
  }

  .delivery-info-title-and-image,
  .contact-info-image-and-title,
  .operational-info-image-and-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (max-width: 400px) {
  .information-card {
    display: none;
  }
}
