@media (min-width: 401px) {
  .basket {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .item-quantity {
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: #fc8a06;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .price-item-add-ons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .basket-item-cost {
    font-size: 24px;
    color: #028643;
    font-weight: 600;
  }
  .basket-item {
    font-size: 20px;
    font-weight: 600;
  }
  .add-ons {
    font-weight: 20px;
  }
}

@media (max-width: 400px) {
  .basket {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .item-quantity {
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: #fc8a06;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .price-item-add-ons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .basket-item-cost {
    font-size: 24px;
    color: #028643;
    font-weight: 600;
  }
  .basket-item {
    font-size: 20px;
    font-weight: 600;
  }
  .add-ons {
    font-weight: 20px;
  }
}
